<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.WFZY.mapper.CarouselMapper" >
  <resultMap id="BaseResultMap" type="com.WFZY.pojo.Carousel" >
    <id column="carouselId" property="carouselid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="carousel_type" property="carouselType" jdbcType="INTEGER" />
    <result column="carouselStatus" property="carouselstatus" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.WFZY.pojo.CarouselWithBLOBs" extends="BaseResultMap" >
    <result column="url" property="url" jdbcType="LONGVARCHAR" />
    <result column="imageUrl" property="imageurl" jdbcType="LONGVARCHAR" />
    <result column="intro" property="intro" jdbcType="LONGVARCHAR" />
    <result column="conText" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    carouselId, title, createtime, startTime, endTime, carousel_type, carouselStatus
  </sql>
  <sql id="Blob_Column_List" >
    url, imageUrl, intro, conText
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.WFZY.pojo.CarouselExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from carousel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.WFZY.pojo.CarouselExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from carousel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from carousel
    where carouselId = #{carouselid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carousel
    where carouselId = #{carouselid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.WFZY.pojo.CarouselExample" >
    delete from carousel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.WFZY.pojo.CarouselWithBLOBs" >
    insert into carousel (carouselId, title, createtime, 
      startTime, endTime, carousel_type, 
      carouselStatus, url, imageUrl, 
      intro, conText)
    values (#{carouselid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{carouselType,jdbcType=INTEGER}, 
      #{carouselstatus,jdbcType=TINYINT}, #{url,jdbcType=LONGVARCHAR}, #{imageurl,jdbcType=LONGVARCHAR}, 
      #{intro,jdbcType=LONGVARCHAR}, #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.WFZY.pojo.CarouselWithBLOBs" >
    insert into carousel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carouselid != null" >
        carouselId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="carouselType != null" >
        carousel_type,
      </if>
      <if test="carouselstatus != null" >
        carouselStatus,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="imageurl != null" >
        imageUrl,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="context != null" >
        conText,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carouselid != null" >
        #{carouselid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="carouselType != null" >
        #{carouselType,jdbcType=INTEGER},
      </if>
      <if test="carouselstatus != null" >
        #{carouselstatus,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=LONGVARCHAR},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.WFZY.pojo.CarouselExample" resultType="java.lang.Integer" >
    select count(*) from carousel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update carousel
    <set >
      <if test="record.carouselid != null" >
        carouselId = #{record.carouselid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null" >
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.carouselType != null" >
        carousel_type = #{record.carouselType,jdbcType=INTEGER},
      </if>
      <if test="record.carouselstatus != null" >
        carouselStatus = #{record.carouselstatus,jdbcType=TINYINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.imageurl != null" >
        imageUrl = #{record.imageurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.intro != null" >
        intro = #{record.intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.context != null" >
        conText = #{record.context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update carousel
    set carouselId = #{record.carouselid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      carousel_type = #{record.carouselType,jdbcType=INTEGER},
      carouselStatus = #{record.carouselstatus,jdbcType=TINYINT},
      url = #{record.url,jdbcType=LONGVARCHAR},
      imageUrl = #{record.imageurl,jdbcType=LONGVARCHAR},
      intro = #{record.intro,jdbcType=LONGVARCHAR},
      conText = #{record.context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update carousel
    set carouselId = #{record.carouselid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      carousel_type = #{record.carouselType,jdbcType=INTEGER},
      carouselStatus = #{record.carouselstatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.WFZY.pojo.CarouselWithBLOBs" >
    update carousel
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="carouselType != null" >
        carousel_type = #{carouselType,jdbcType=INTEGER},
      </if>
      <if test="carouselstatus != null" >
        carouselStatus = #{carouselstatus,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
      <if test="imageurl != null" >
        imageUrl = #{imageurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="context != null" >
        conText = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where carouselId = #{carouselid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.WFZY.pojo.CarouselWithBLOBs" >
    update carousel
    set title = #{title,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      carousel_type = #{carouselType,jdbcType=INTEGER},
      carouselStatus = #{carouselstatus,jdbcType=TINYINT},
      url = #{url,jdbcType=LONGVARCHAR},
      imageUrl = #{imageurl,jdbcType=LONGVARCHAR},
      intro = #{intro,jdbcType=LONGVARCHAR},
      conText = #{context,jdbcType=LONGVARCHAR}
    where carouselId = #{carouselid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.WFZY.pojo.Carousel" >
    update carousel
    set title = #{title,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      carousel_type = #{carouselType,jdbcType=INTEGER},
      carouselStatus = #{carouselstatus,jdbcType=TINYINT}
    where carouselId = #{carouselid,jdbcType=INTEGER}
  </update>
</mapper>