<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.WFZY.mapper.GoodsactivityMapper" >
  <resultMap id="BaseResultMap" type="com.WFZY.pojo.Goodsactivity" >
    <id column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <id column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="goodsType" property="goodstype" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="storkNum" property="storknum" jdbcType="INTEGER" />
    <result column="saleNum" property="salenum" jdbcType="INTEGER" />
    <result column="ishandle" property="ishandle" jdbcType="TINYINT" />
    <result column="applyPrice" property="applyprice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    goodsId, startTime, goodsType, createTime, endTime, storkNum, saleNum, ishandle, 
    applyPrice
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.WFZY.pojo.GoodsactivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodsactivity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.WFZY.pojo.GoodsactivityKey" >
    select 
    <include refid="Base_Column_List" />
    from goodsactivity
    where goodsId = #{goodsid,jdbcType=INTEGER}
      and startTime = #{starttime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.WFZY.pojo.GoodsactivityKey" >
    delete from goodsactivity
    where goodsId = #{goodsid,jdbcType=INTEGER}
      and startTime = #{starttime,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.WFZY.pojo.GoodsactivityExample" >
    delete from goodsactivity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.WFZY.pojo.Goodsactivity" >
    insert into goodsactivity (goodsId, startTime, goodsType, 
      createTime, endTime, storkNum, 
      saleNum, ishandle, applyPrice
      )
    values (#{goodsid,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{goodstype,jdbcType=TINYINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{storknum,jdbcType=INTEGER}, 
      #{salenum,jdbcType=INTEGER}, #{ishandle,jdbcType=TINYINT}, #{applyprice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.WFZY.pojo.Goodsactivity" >
    insert into goodsactivity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="goodstype != null" >
        goodsType,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="storknum != null" >
        storkNum,
      </if>
      <if test="salenum != null" >
        saleNum,
      </if>
      <if test="ishandle != null" >
        ishandle,
      </if>
      <if test="applyprice != null" >
        applyPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodstype != null" >
        #{goodstype,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="storknum != null" >
        #{storknum,jdbcType=INTEGER},
      </if>
      <if test="salenum != null" >
        #{salenum,jdbcType=INTEGER},
      </if>
      <if test="ishandle != null" >
        #{ishandle,jdbcType=TINYINT},
      </if>
      <if test="applyprice != null" >
        #{applyprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.WFZY.pojo.GoodsactivityExample" resultType="java.lang.Integer" >
    select count(*) from goodsactivity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goodsactivity
    <set >
      <if test="record.goodsid != null" >
        goodsId = #{record.goodsid,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodstype != null" >
        goodsType = #{record.goodstype,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null" >
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storknum != null" >
        storkNum = #{record.storknum,jdbcType=INTEGER},
      </if>
      <if test="record.salenum != null" >
        saleNum = #{record.salenum,jdbcType=INTEGER},
      </if>
      <if test="record.ishandle != null" >
        ishandle = #{record.ishandle,jdbcType=TINYINT},
      </if>
      <if test="record.applyprice != null" >
        applyPrice = #{record.applyprice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goodsactivity
    set goodsId = #{record.goodsid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      goodsType = #{record.goodstype,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      storkNum = #{record.storknum,jdbcType=INTEGER},
      saleNum = #{record.salenum,jdbcType=INTEGER},
      ishandle = #{record.ishandle,jdbcType=TINYINT},
      applyPrice = #{record.applyprice,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.WFZY.pojo.Goodsactivity" >
    update goodsactivity
    <set >
      <if test="goodstype != null" >
        goodsType = #{goodstype,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="storknum != null" >
        storkNum = #{storknum,jdbcType=INTEGER},
      </if>
      <if test="salenum != null" >
        saleNum = #{salenum,jdbcType=INTEGER},
      </if>
      <if test="ishandle != null" >
        ishandle = #{ishandle,jdbcType=TINYINT},
      </if>
      <if test="applyprice != null" >
        applyPrice = #{applyprice,jdbcType=DECIMAL},
      </if>
    </set>
    where goodsId = #{goodsid,jdbcType=INTEGER}
      and startTime = #{starttime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.WFZY.pojo.Goodsactivity" >
    update goodsactivity
    set goodsType = #{goodstype,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      storkNum = #{storknum,jdbcType=INTEGER},
      saleNum = #{salenum,jdbcType=INTEGER},
      ishandle = #{ishandle,jdbcType=TINYINT},
      applyPrice = #{applyprice,jdbcType=DECIMAL}
    where goodsId = #{goodsid,jdbcType=INTEGER}
      and startTime = #{starttime,jdbcType=TIMESTAMP}
  </update>
</mapper>