<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.WFZY.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.WFZY.pojo.Orders" >
    <id column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="shopId" property="shopid" jdbcType="INTEGER" />
    <result column="shopName" property="shopname" jdbcType="VARCHAR" />
    <result column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsCount" property="goodscount" jdbcType="INTEGER" />
    <result column="goodsPrice" property="goodsprice" jdbcType="INTEGER" />
    <result column="goodsRemarks" property="goodsremarks" jdbcType="VARCHAR" />
    <result column="orderRemarks" property="orderremarks" jdbcType="VARCHAR" />
    <result column="orderStatus" property="orderstatus" jdbcType="TINYINT" />
    <result column="goodsMoney" property="goodsmoney" jdbcType="DECIMAL" />
    <result column="deliverType" property="delivertype" jdbcType="TINYINT" />
    <result column="deliverMoney" property="delivermoney" jdbcType="DECIMAL" />
    <result column="totalMoney" property="totalmoney" jdbcType="DECIMAL" />
    <result column="realTotalMoney" property="realtotalmoney" jdbcType="DECIMAL" />
    <result column="payType" property="paytype" jdbcType="TINYINT" />
    <result column="isPay" property="ispay" jdbcType="TINYINT" />
    <result column="receivedName" property="receivedname" jdbcType="VARCHAR" />
    <result column="receivedAddress" property="receivedaddress" jdbcType="VARCHAR" />
    <result column="receivedPhone" property="receivedphone" jdbcType="VARCHAR" />
    <result column="isInvoice" property="isinvoice" jdbcType="TINYINT" />
    <result column="isRefund" property="isrefund" jdbcType="TINYINT" />
    <result column="isAppraise" property="isappraise" jdbcType="TINYINT" />
    <result column="cancelReason" property="cancelreason" jdbcType="VARCHAR" />
    <result column="rejectReason" property="rejectreason" jdbcType="VARCHAR" />
    <result column="isClosed" property="isclosed" jdbcType="TINYINT" />
    <result column="settlementId" property="settlementid" jdbcType="TINYINT" />
    <result column="receiveTime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="deliveryTime" property="deliverytime" jdbcType="TIMESTAMP" />
    <result column="expressNo" property="expressno" jdbcType="VARCHAR" />
    <result column="expressId" property="expressid" jdbcType="INTEGER" />
    <result column="dataFlag" property="dataflag" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, orderNo, userId, shopId, shopName, goodsId, goodsName, goodsCount, goodsPrice, 
    goodsRemarks, orderRemarks, orderStatus, goodsMoney, deliverType, deliverMoney, totalMoney, 
    realTotalMoney, payType, isPay, receivedName, receivedAddress, receivedPhone, isInvoice, 
    isRefund, isAppraise, cancelReason, rejectReason, isClosed, settlementId, receiveTime, 
    deliveryTime, expressNo, expressId, dataFlag, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.WFZY.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.WFZY.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.WFZY.pojo.Orders" >
    insert into orders (orderId, orderNo, userId, 
      shopId, shopName, goodsId, 
      goodsName, goodsCount, goodsPrice, 
      goodsRemarks, orderRemarks, orderStatus, 
      goodsMoney, deliverType, deliverMoney, 
      totalMoney, realTotalMoney, payType, 
      isPay, receivedName, receivedAddress, 
      receivedPhone, isInvoice, isRefund, 
      isAppraise, cancelReason, rejectReason, 
      isClosed, settlementId, receiveTime, 
      deliveryTime, expressNo, expressId, 
      dataFlag, createTime)
    values (#{orderid,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{shopid,jdbcType=INTEGER}, #{shopname,jdbcType=VARCHAR}, #{goodsid,jdbcType=INTEGER}, 
      #{goodsname,jdbcType=VARCHAR}, #{goodscount,jdbcType=INTEGER}, #{goodsprice,jdbcType=INTEGER}, 
      #{goodsremarks,jdbcType=VARCHAR}, #{orderremarks,jdbcType=VARCHAR}, #{orderstatus,jdbcType=TINYINT}, 
      #{goodsmoney,jdbcType=DECIMAL}, #{delivertype,jdbcType=TINYINT}, #{delivermoney,jdbcType=DECIMAL}, 
      #{totalmoney,jdbcType=DECIMAL}, #{realtotalmoney,jdbcType=DECIMAL}, #{paytype,jdbcType=TINYINT}, 
      #{ispay,jdbcType=TINYINT}, #{receivedname,jdbcType=VARCHAR}, #{receivedaddress,jdbcType=VARCHAR}, 
      #{receivedphone,jdbcType=VARCHAR}, #{isinvoice,jdbcType=TINYINT}, #{isrefund,jdbcType=TINYINT}, 
      #{isappraise,jdbcType=TINYINT}, #{cancelreason,jdbcType=VARCHAR}, #{rejectreason,jdbcType=VARCHAR}, 
      #{isclosed,jdbcType=TINYINT}, #{settlementid,jdbcType=TINYINT}, #{receivetime,jdbcType=TIMESTAMP}, 
      #{deliverytime,jdbcType=TIMESTAMP}, #{expressno,jdbcType=VARCHAR}, #{expressid,jdbcType=INTEGER}, 
      #{dataflag,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.WFZY.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="shopname != null" >
        shopName,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="goodscount != null" >
        goodsCount,
      </if>
      <if test="goodsprice != null" >
        goodsPrice,
      </if>
      <if test="goodsremarks != null" >
        goodsRemarks,
      </if>
      <if test="orderremarks != null" >
        orderRemarks,
      </if>
      <if test="orderstatus != null" >
        orderStatus,
      </if>
      <if test="goodsmoney != null" >
        goodsMoney,
      </if>
      <if test="delivertype != null" >
        deliverType,
      </if>
      <if test="delivermoney != null" >
        deliverMoney,
      </if>
      <if test="totalmoney != null" >
        totalMoney,
      </if>
      <if test="realtotalmoney != null" >
        realTotalMoney,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="ispay != null" >
        isPay,
      </if>
      <if test="receivedname != null" >
        receivedName,
      </if>
      <if test="receivedaddress != null" >
        receivedAddress,
      </if>
      <if test="receivedphone != null" >
        receivedPhone,
      </if>
      <if test="isinvoice != null" >
        isInvoice,
      </if>
      <if test="isrefund != null" >
        isRefund,
      </if>
      <if test="isappraise != null" >
        isAppraise,
      </if>
      <if test="cancelreason != null" >
        cancelReason,
      </if>
      <if test="rejectreason != null" >
        rejectReason,
      </if>
      <if test="isclosed != null" >
        isClosed,
      </if>
      <if test="settlementid != null" >
        settlementId,
      </if>
      <if test="receivetime != null" >
        receiveTime,
      </if>
      <if test="deliverytime != null" >
        deliveryTime,
      </if>
      <if test="expressno != null" >
        expressNo,
      </if>
      <if test="expressid != null" >
        expressId,
      </if>
      <if test="dataflag != null" >
        dataFlag,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null" >
        #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=INTEGER},
      </if>
      <if test="goodsremarks != null" >
        #{goodsremarks,jdbcType=VARCHAR},
      </if>
      <if test="orderremarks != null" >
        #{orderremarks,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=TINYINT},
      </if>
      <if test="goodsmoney != null" >
        #{goodsmoney,jdbcType=DECIMAL},
      </if>
      <if test="delivertype != null" >
        #{delivertype,jdbcType=TINYINT},
      </if>
      <if test="delivermoney != null" >
        #{delivermoney,jdbcType=DECIMAL},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="realtotalmoney != null" >
        #{realtotalmoney,jdbcType=DECIMAL},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=TINYINT},
      </if>
      <if test="ispay != null" >
        #{ispay,jdbcType=TINYINT},
      </if>
      <if test="receivedname != null" >
        #{receivedname,jdbcType=VARCHAR},
      </if>
      <if test="receivedaddress != null" >
        #{receivedaddress,jdbcType=VARCHAR},
      </if>
      <if test="receivedphone != null" >
        #{receivedphone,jdbcType=VARCHAR},
      </if>
      <if test="isinvoice != null" >
        #{isinvoice,jdbcType=TINYINT},
      </if>
      <if test="isrefund != null" >
        #{isrefund,jdbcType=TINYINT},
      </if>
      <if test="isappraise != null" >
        #{isappraise,jdbcType=TINYINT},
      </if>
      <if test="cancelreason != null" >
        #{cancelreason,jdbcType=VARCHAR},
      </if>
      <if test="rejectreason != null" >
        #{rejectreason,jdbcType=VARCHAR},
      </if>
      <if test="isclosed != null" >
        #{isclosed,jdbcType=TINYINT},
      </if>
      <if test="settlementid != null" >
        #{settlementid,jdbcType=TINYINT},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverytime != null" >
        #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressno != null" >
        #{expressno,jdbcType=VARCHAR},
      </if>
      <if test="expressid != null" >
        #{expressid,jdbcType=INTEGER},
      </if>
      <if test="dataflag != null" >
        #{dataflag,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.WFZY.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.orderno != null" >
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.shopid != null" >
        shopId = #{record.shopid,jdbcType=INTEGER},
      </if>
      <if test="record.shopname != null" >
        shopName = #{record.shopname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsid != null" >
        goodsId = #{record.goodsid,jdbcType=INTEGER},
      </if>
      <if test="record.goodsname != null" >
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodscount != null" >
        goodsCount = #{record.goodscount,jdbcType=INTEGER},
      </if>
      <if test="record.goodsprice != null" >
        goodsPrice = #{record.goodsprice,jdbcType=INTEGER},
      </if>
      <if test="record.goodsremarks != null" >
        goodsRemarks = #{record.goodsremarks,jdbcType=VARCHAR},
      </if>
      <if test="record.orderremarks != null" >
        orderRemarks = #{record.orderremarks,jdbcType=VARCHAR},
      </if>
      <if test="record.orderstatus != null" >
        orderStatus = #{record.orderstatus,jdbcType=TINYINT},
      </if>
      <if test="record.goodsmoney != null" >
        goodsMoney = #{record.goodsmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.delivertype != null" >
        deliverType = #{record.delivertype,jdbcType=TINYINT},
      </if>
      <if test="record.delivermoney != null" >
        deliverMoney = #{record.delivermoney,jdbcType=DECIMAL},
      </if>
      <if test="record.totalmoney != null" >
        totalMoney = #{record.totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.realtotalmoney != null" >
        realTotalMoney = #{record.realtotalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.paytype != null" >
        payType = #{record.paytype,jdbcType=TINYINT},
      </if>
      <if test="record.ispay != null" >
        isPay = #{record.ispay,jdbcType=TINYINT},
      </if>
      <if test="record.receivedname != null" >
        receivedName = #{record.receivedname,jdbcType=VARCHAR},
      </if>
      <if test="record.receivedaddress != null" >
        receivedAddress = #{record.receivedaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receivedphone != null" >
        receivedPhone = #{record.receivedphone,jdbcType=VARCHAR},
      </if>
      <if test="record.isinvoice != null" >
        isInvoice = #{record.isinvoice,jdbcType=TINYINT},
      </if>
      <if test="record.isrefund != null" >
        isRefund = #{record.isrefund,jdbcType=TINYINT},
      </if>
      <if test="record.isappraise != null" >
        isAppraise = #{record.isappraise,jdbcType=TINYINT},
      </if>
      <if test="record.cancelreason != null" >
        cancelReason = #{record.cancelreason,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectreason != null" >
        rejectReason = #{record.rejectreason,jdbcType=VARCHAR},
      </if>
      <if test="record.isclosed != null" >
        isClosed = #{record.isclosed,jdbcType=TINYINT},
      </if>
      <if test="record.settlementid != null" >
        settlementId = #{record.settlementid,jdbcType=TINYINT},
      </if>
      <if test="record.receivetime != null" >
        receiveTime = #{record.receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliverytime != null" >
        deliveryTime = #{record.deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expressno != null" >
        expressNo = #{record.expressno,jdbcType=VARCHAR},
      </if>
      <if test="record.expressid != null" >
        expressId = #{record.expressid,jdbcType=INTEGER},
      </if>
      <if test="record.dataflag != null" >
        dataFlag = #{record.dataflag,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set orderId = #{record.orderid,jdbcType=INTEGER},
      orderNo = #{record.orderno,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      shopId = #{record.shopid,jdbcType=INTEGER},
      shopName = #{record.shopname,jdbcType=VARCHAR},
      goodsId = #{record.goodsid,jdbcType=INTEGER},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      goodsCount = #{record.goodscount,jdbcType=INTEGER},
      goodsPrice = #{record.goodsprice,jdbcType=INTEGER},
      goodsRemarks = #{record.goodsremarks,jdbcType=VARCHAR},
      orderRemarks = #{record.orderremarks,jdbcType=VARCHAR},
      orderStatus = #{record.orderstatus,jdbcType=TINYINT},
      goodsMoney = #{record.goodsmoney,jdbcType=DECIMAL},
      deliverType = #{record.delivertype,jdbcType=TINYINT},
      deliverMoney = #{record.delivermoney,jdbcType=DECIMAL},
      totalMoney = #{record.totalmoney,jdbcType=DECIMAL},
      realTotalMoney = #{record.realtotalmoney,jdbcType=DECIMAL},
      payType = #{record.paytype,jdbcType=TINYINT},
      isPay = #{record.ispay,jdbcType=TINYINT},
      receivedName = #{record.receivedname,jdbcType=VARCHAR},
      receivedAddress = #{record.receivedaddress,jdbcType=VARCHAR},
      receivedPhone = #{record.receivedphone,jdbcType=VARCHAR},
      isInvoice = #{record.isinvoice,jdbcType=TINYINT},
      isRefund = #{record.isrefund,jdbcType=TINYINT},
      isAppraise = #{record.isappraise,jdbcType=TINYINT},
      cancelReason = #{record.cancelreason,jdbcType=VARCHAR},
      rejectReason = #{record.rejectreason,jdbcType=VARCHAR},
      isClosed = #{record.isclosed,jdbcType=TINYINT},
      settlementId = #{record.settlementid,jdbcType=TINYINT},
      receiveTime = #{record.receivetime,jdbcType=TIMESTAMP},
      deliveryTime = #{record.deliverytime,jdbcType=TIMESTAMP},
      expressNo = #{record.expressno,jdbcType=VARCHAR},
      expressId = #{record.expressid,jdbcType=INTEGER},
      dataFlag = #{record.dataflag,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.WFZY.pojo.Orders" >
    update orders
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null" >
        shopId = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopname != null" >
        shopName = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null" >
        goodsCount = #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null" >
        goodsPrice = #{goodsprice,jdbcType=INTEGER},
      </if>
      <if test="goodsremarks != null" >
        goodsRemarks = #{goodsremarks,jdbcType=VARCHAR},
      </if>
      <if test="orderremarks != null" >
        orderRemarks = #{orderremarks,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null" >
        orderStatus = #{orderstatus,jdbcType=TINYINT},
      </if>
      <if test="goodsmoney != null" >
        goodsMoney = #{goodsmoney,jdbcType=DECIMAL},
      </if>
      <if test="delivertype != null" >
        deliverType = #{delivertype,jdbcType=TINYINT},
      </if>
      <if test="delivermoney != null" >
        deliverMoney = #{delivermoney,jdbcType=DECIMAL},
      </if>
      <if test="totalmoney != null" >
        totalMoney = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="realtotalmoney != null" >
        realTotalMoney = #{realtotalmoney,jdbcType=DECIMAL},
      </if>
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=TINYINT},
      </if>
      <if test="ispay != null" >
        isPay = #{ispay,jdbcType=TINYINT},
      </if>
      <if test="receivedname != null" >
        receivedName = #{receivedname,jdbcType=VARCHAR},
      </if>
      <if test="receivedaddress != null" >
        receivedAddress = #{receivedaddress,jdbcType=VARCHAR},
      </if>
      <if test="receivedphone != null" >
        receivedPhone = #{receivedphone,jdbcType=VARCHAR},
      </if>
      <if test="isinvoice != null" >
        isInvoice = #{isinvoice,jdbcType=TINYINT},
      </if>
      <if test="isrefund != null" >
        isRefund = #{isrefund,jdbcType=TINYINT},
      </if>
      <if test="isappraise != null" >
        isAppraise = #{isappraise,jdbcType=TINYINT},
      </if>
      <if test="cancelreason != null" >
        cancelReason = #{cancelreason,jdbcType=VARCHAR},
      </if>
      <if test="rejectreason != null" >
        rejectReason = #{rejectreason,jdbcType=VARCHAR},
      </if>
      <if test="isclosed != null" >
        isClosed = #{isclosed,jdbcType=TINYINT},
      </if>
      <if test="settlementid != null" >
        settlementId = #{settlementid,jdbcType=TINYINT},
      </if>
      <if test="receivetime != null" >
        receiveTime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverytime != null" >
        deliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressno != null" >
        expressNo = #{expressno,jdbcType=VARCHAR},
      </if>
      <if test="expressid != null" >
        expressId = #{expressid,jdbcType=INTEGER},
      </if>
      <if test="dataflag != null" >
        dataFlag = #{dataflag,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.WFZY.pojo.Orders" >
    update orders
    set orderNo = #{orderno,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      shopId = #{shopid,jdbcType=INTEGER},
      shopName = #{shopname,jdbcType=VARCHAR},
      goodsId = #{goodsid,jdbcType=INTEGER},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsCount = #{goodscount,jdbcType=INTEGER},
      goodsPrice = #{goodsprice,jdbcType=INTEGER},
      goodsRemarks = #{goodsremarks,jdbcType=VARCHAR},
      orderRemarks = #{orderremarks,jdbcType=VARCHAR},
      orderStatus = #{orderstatus,jdbcType=TINYINT},
      goodsMoney = #{goodsmoney,jdbcType=DECIMAL},
      deliverType = #{delivertype,jdbcType=TINYINT},
      deliverMoney = #{delivermoney,jdbcType=DECIMAL},
      totalMoney = #{totalmoney,jdbcType=DECIMAL},
      realTotalMoney = #{realtotalmoney,jdbcType=DECIMAL},
      payType = #{paytype,jdbcType=TINYINT},
      isPay = #{ispay,jdbcType=TINYINT},
      receivedName = #{receivedname,jdbcType=VARCHAR},
      receivedAddress = #{receivedaddress,jdbcType=VARCHAR},
      receivedPhone = #{receivedphone,jdbcType=VARCHAR},
      isInvoice = #{isinvoice,jdbcType=TINYINT},
      isRefund = #{isrefund,jdbcType=TINYINT},
      isAppraise = #{isappraise,jdbcType=TINYINT},
      cancelReason = #{cancelreason,jdbcType=VARCHAR},
      rejectReason = #{rejectreason,jdbcType=VARCHAR},
      isClosed = #{isclosed,jdbcType=TINYINT},
      settlementId = #{settlementid,jdbcType=TINYINT},
      receiveTime = #{receivetime,jdbcType=TIMESTAMP},
      deliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      expressNo = #{expressno,jdbcType=VARCHAR},
      expressId = #{expressid,jdbcType=INTEGER},
      dataFlag = #{dataflag,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>