<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.WFZY.mapper.OrdergoodsMapper" >
  <resultMap id="BaseResultMap" type="com.WFZY.pojo.Ordergoods" >
    <id column="orderGoodsId" property="ordergoodsid" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsNum" property="goodsnum" jdbcType="INTEGER" />
    <result column="goodsPrice" property="goodsprice" jdbcType="DECIMAL" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsImg" property="goodsimg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderGoodsId, orderId, goodsId, goodsNum, goodsPrice, goodsName, goodsImg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.WFZY.pojo.OrdergoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ordergoods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ordergoods
    where orderGoodsId = #{ordergoodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ordergoods
    where orderGoodsId = #{ordergoodsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.WFZY.pojo.OrdergoodsExample" >
    delete from ordergoods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.WFZY.pojo.Ordergoods" >
    insert into ordergoods (orderGoodsId, orderId, goodsId, 
      goodsNum, goodsPrice, goodsName, 
      goodsImg)
    values (#{ordergoodsid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, 
      #{goodsnum,jdbcType=INTEGER}, #{goodsprice,jdbcType=DECIMAL}, #{goodsname,jdbcType=VARCHAR}, 
      #{goodsimg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.WFZY.pojo.Ordergoods" >
    insert into ordergoods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ordergoodsid != null" >
        orderGoodsId,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="goodsnum != null" >
        goodsNum,
      </if>
      <if test="goodsprice != null" >
        goodsPrice,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="goodsimg != null" >
        goodsImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ordergoodsid != null" >
        #{ordergoodsid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsnum != null" >
        #{goodsnum,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsimg != null" >
        #{goodsimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.WFZY.pojo.OrdergoodsExample" resultType="java.lang.Integer" >
    select count(*) from ordergoods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ordergoods
    <set >
      <if test="record.ordergoodsid != null" >
        orderGoodsId = #{record.ordergoodsid,jdbcType=INTEGER},
      </if>
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.goodsid != null" >
        goodsId = #{record.goodsid,jdbcType=INTEGER},
      </if>
      <if test="record.goodsnum != null" >
        goodsNum = #{record.goodsnum,jdbcType=INTEGER},
      </if>
      <if test="record.goodsprice != null" >
        goodsPrice = #{record.goodsprice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsname != null" >
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsimg != null" >
        goodsImg = #{record.goodsimg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ordergoods
    set orderGoodsId = #{record.ordergoodsid,jdbcType=INTEGER},
      orderId = #{record.orderid,jdbcType=INTEGER},
      goodsId = #{record.goodsid,jdbcType=INTEGER},
      goodsNum = #{record.goodsnum,jdbcType=INTEGER},
      goodsPrice = #{record.goodsprice,jdbcType=DECIMAL},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      goodsImg = #{record.goodsimg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.WFZY.pojo.Ordergoods" >
    update ordergoods
    <set >
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsnum != null" >
        goodsNum = #{goodsnum,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null" >
        goodsPrice = #{goodsprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsimg != null" >
        goodsImg = #{goodsimg,jdbcType=VARCHAR},
      </if>
    </set>
    where orderGoodsId = #{ordergoodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.WFZY.pojo.Ordergoods" >
    update ordergoods
    set orderId = #{orderid,jdbcType=INTEGER},
      goodsId = #{goodsid,jdbcType=INTEGER},
      goodsNum = #{goodsnum,jdbcType=INTEGER},
      goodsPrice = #{goodsprice,jdbcType=DECIMAL},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsImg = #{goodsimg,jdbcType=VARCHAR}
    where orderGoodsId = #{ordergoodsid,jdbcType=INTEGER}
  </update>
</mapper>