<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.WFZY.mapper.ShopsexpressMapper" >
  <resultMap id="BaseResultMap" type="com.WFZY.pojo.Shopsexpress" >
    <id column="scoreId" property="scoreid" jdbcType="INTEGER" />
    <result column="shopId" property="shopid" jdbcType="INTEGER" />
    <result column="expressId" property="expressid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    scoreId, shopId, expressId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.WFZY.pojo.ShopsexpressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopsexpress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopsexpress
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopsexpress
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.WFZY.pojo.ShopsexpressExample" >
    delete from shopsexpress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.WFZY.pojo.Shopsexpress" >
    insert into shopsexpress (scoreId, shopId, expressId
      )
    values (#{scoreid,jdbcType=INTEGER}, #{shopid,jdbcType=INTEGER}, #{expressid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.WFZY.pojo.Shopsexpress" >
    insert into shopsexpress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scoreid != null" >
        scoreId,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="expressid != null" >
        expressId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scoreid != null" >
        #{scoreid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="expressid != null" >
        #{expressid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.WFZY.pojo.ShopsexpressExample" resultType="java.lang.Integer" >
    select count(*) from shopsexpress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shopsexpress
    <set >
      <if test="record.scoreid != null" >
        scoreId = #{record.scoreid,jdbcType=INTEGER},
      </if>
      <if test="record.shopid != null" >
        shopId = #{record.shopid,jdbcType=INTEGER},
      </if>
      <if test="record.expressid != null" >
        expressId = #{record.expressid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shopsexpress
    set scoreId = #{record.scoreid,jdbcType=INTEGER},
      shopId = #{record.shopid,jdbcType=INTEGER},
      expressId = #{record.expressid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.WFZY.pojo.Shopsexpress" >
    update shopsexpress
    <set >
      <if test="shopid != null" >
        shopId = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="expressid != null" >
        expressId = #{expressid,jdbcType=INTEGER},
      </if>
    </set>
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.WFZY.pojo.Shopsexpress" >
    update shopsexpress
    set shopId = #{shopid,jdbcType=INTEGER},
      expressId = #{expressid,jdbcType=INTEGER}
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </update>
</mapper>